@font-face {
    font-family: 'Roboto-Regular';
    src: url(../fonts/Roboto-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url(../fonts/Roboto-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto-Medium';
    src: url(../fonts/Roboto-Medium.ttf) format('truetype');
    font-weight: medium;
    font-style: normal;
}



header {
    height: 50px;
    background-color: #EFEFEF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.nav {
    font-family: 'Roboto-Regular';
    color: #333;
    font-size: 14px;
}

main {
    height: 1757px;
}

.glav {
    height: 120px;
    display: flex;
    justify-content: center;
    gap: 515px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.tel {
    display: flex;
    align-items: center;
    gap: 40px;
}

.phone_number {
    font-family: 'Roboto-Regular';
    font-size: 16px;
    color: #333;

}

.callback {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 170px;
    height: 40px;
    border: 2px solid #66C05D;
    border-radius: 40px;

    font-family: 'Roboto-Regular';
    font-size: 14px;
    color: #000;
}

.line {
    border: 1px solid #EFEFEF;

}

.menu {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.menu-categories {
    display: flex;
    gap: 40px;
    width: 675px;
    height: 19px;
}

.categories {
    font-family: 'Roboto-Regular';
    font-size: 16px;
    color: #000;
}

.banner {
    height: 604px;
    background-color: #66C05D;

    display: flex;
    justify-content: center;
    align-items: center;

}

.info {
    width: 308px;
    height: 219px;
    display: flex;
    flex-direction: column;
    gap: 50px;

}

.info-title {
    width: 308px;
    height: 44px;

    font-family: 'Roboto-Bold';
    font-size: 44px;
    color: #FFFFFF;
}

.info-text {
    font-family: 'Roboto-Regular';
    font-size: 14px;
    color: #FFFFFF;
}

.info-button {

    display: flex;
    align-items: center;
    justify-content: center;

    width: 170px;
    height: 40px;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    background-color: #4F4F4F;

    font-family: 'Roboto-Regular';
    font-size: 14px;
    color: #FFFFFF;
}


.block-info {
    height: 954px;
    background-color: #EFEFEF;

    display: flex;
    flex-direction: column;
    align-items: center;

}


.offer {
    display: flex;
    width: 1110px;
    height: 61px;

    margin-top: 80px;
}

.special-offers {
    font-family: 'Roboto-Bold';
    font-size: 24px;
    padding-right: 557px;
}

.katalog {
    width: 1110px;
    height: 363px;

    display: flex;
    justify-content: center;
    gap: 30px;
}

.chair {
    width: 255px;
    height: 363px;
    background-color: #FFFFFF;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.description {
    display: flex;

    font-size: 14px;
    font-family: 'Roboto-Regular';

}

.cena {
    font-family: 'Roboto-Medium';
    font-size: 21px;
    color: #000;
}

.buy {
    width: 130px;
    height: 35px;
    background-color: #66C05D;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #fff;
    font-size: 14px;
    font-family: 'Roboto-Regular';
    ;
}

.showcase {
    display: flex;
    justify-content: center;
    width: 1110px;
    height: 212px;
    gap: 30px;

    padding-top: 100px;
}

.showcase-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    

    width: 540px;
    height: 212px;
    background-color: #66C05D;
}

.showcase-menu-gifts {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 65px;

}

.text-gifts {
    width: 250px;
    height: 142px;
}

.letter-img {
    width: 140px;
    height: 106px;
}

.block-contacts {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}

.contacts {
    width: 1112px;
    height: 45px;
    display: flex;
    align-items: center;
}

.contacts-social-network {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-right: 332px;
    width: 110px;
    height: 45px;
}

.contacts-adres {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 104px;
    width: 228px;
    height: 16px;
    font-size: 14px;

}

.contacts-tel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 337px;
    height: 40px;
}

footer {
    height: 184px;
    background-color: #EFEFEF;
}

.policy {
    color: #828282;
    font-size: 12px;
}


.scroll-top-button {
    width: 50px;
    height: 50px;
    background-color: #66C05D;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;


    border: 2px solid black;
}

.scroll-top-button.show {
    display: flex;
}

.arrow {
    width: 20px;
    height: 20px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(-45deg);
}